doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
            title MK TODO
        link(rel="icon", type="image/svg+xml", href="/public/icons/favicon.svg")
        link(rel='stylesheet', href='/public/css/normalize.css')
        link(rel='stylesheet', href='/public/css/todo.css')
        script(src='/public/js/todo.js')
        block templates
        block scripts
    body
        #pagecontent
            h1 MK TODO
            #nav
                block nav
            #todos
                block todos