extends super

block templates
    template#todo_template
        article.todo
            p.content(data-field='task')
            .controls
                p due 
                    time.due_date(data-field='due_date')
                button.icon.check
                button.icon.edit
            footer
                p created 
                    time.creation_date(data-field='creation_date')

block scripts
    script.
        async function getTodos() {
            const res = await fetch('/todos');
            if (res.ok) {
                const data = await res.json();
                return data;
            }
            else {
                const error = await res.text();
                console.error(error);
                return [];
            }
        }


block nav
    a(href='/') a link

block todos
    script(type='module').
        // get todos from server
        const todoItems = await getTodos();
        
        // render template
        for (const task of todoItems) {
            const instance = templates.todo_template(task);
            todos.appendChild(instance);
        }